<!DOCTYPE html>
<html>
 <head>
  <title>Practicing handlebar js : step 04 : by bikal</title>
  <style>
	ul {
		background: #ddd;
	}
  </style>
 </head>
 <body>

 <div id="result"> </div>


 <!-- Loading Libraries -->
  <script src="handlebars-v2.0.0.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
 <!-- Libraries -->

 <script id="just-a-dummy-template-name" type="text/x-handlebars-template">
 
 <div>
{{#each employees}}
<ul>
	<li>First Name : {{name.firstName}}</li>
	<li>Last Name : {{name.lastName}}</li>
	<li>Age: {{age}}</li>
</ul>
{{/each}}
</div>

 </script>

 <script type="text/javascript">
     var source = $("#just-a-dummy-template-name").html();
     var template = Handlebars.compile(source);
	 
     var context = {employees: [
		{name: {firstName : "Ram", lastName : "Prasad"}, age: 32}, 
		{name: {firstName : "Hari", lastName : "Bahadur"}, age: 32}, 
		
	 ]}
	 
     var CompiledHtml = template(context);
     $("#result").html(CompiledHtml);
 </script>

 </body>
</html>
