<!DOCTYPE html>
<html>
 <head>
  <title>Practicing handlebar js : step 03 : by bikal</title>
 </head>
 <body>

 <div id="result"> </div>


 <!-- Loading Libraries -->
  <script src="handlebars-v2.0.0.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
 <!-- Libraries -->

 <script id="just-a-dummy-template-name" type="text/x-handlebars-template">
     <div class="entry">
	{{#with bau}}
         <p>{{chora2}}</p>
	{{/with}}
     </div>
 </script>

 <script type="text/javascript">
     var source = $("#just-a-dummy-template-name").html();
     var template = Handlebars.compile(source);
     var context = {bau: {chora1: "Chora 1", chora2: "Chora 2"}}
     var html = template(context);
     $("#result").html(html);
 </script>

 </body>
</html>
