<!DOCTYPE html>
<html>
 <head>
  <title>Practicing handlebar js : step 04 : by bikal</title>
 </head>
 <body>

 <div id="result"> </div>


 <!-- Loading Libraries -->
  <script src="handlebars-v2.0.0.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
 <!-- Libraries -->

 <script id="just-a-dummy-template-name" type="text/x-handlebars-template">
 
{{#if user.isAdmin}}
  <button class="launch">Hello Admin !!</button>
{{else}}
   <button class="login"> Log in</button>
{{/if}}

 </script>

 <script type="text/javascript">
     var source = $("#just-a-dummy-template-name").html();
     var template = Handlebars.compile(source);
     var context = { user : {isAdmin: true} }
     var CompiledHtml = template(context);
     $("#result").html(CompiledHtml);
 </script>

 </body>
</html>
