<!DOCTYPE html>
<html>
 <head>
  <title>Practicing handlebar js : step 04 : by bikal</title>
 </head>
 <body>

 <div id="result"> </div>


 <!-- Loading Libraries -->
  <script src="handlebars-v2.0.0.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
 <!-- Libraries -->

 <script id="just-a-dummy-template-name" type="text/x-handlebars-template">
     <div class="entry">
         <h1>{{title}}</h1>
         <div class="body">
             {{table node}}
         </div>
     </div>
 </script>

 <script type="text/javascript">
 
   /*
	* Print HTML table out of the provided array
	*/
    Handlebars.registerHelper('table', function(data) {
		var str = '<table border="1">';
		for (var i = 0; i < data.length; i++ ) {
			str += '<tr>';
			for (var key in data[i]) {
			  str += '<td>' + data[i][key] + '</td>';
			};
			str += '</tr>';
		};
		str += '</table>';

		return new Handlebars.SafeString (str);
	});


     var source = $("#just-a-dummy-template-name").html();
     var template = Handlebars.compile(source);
	 
	 
	 
     var context = {
					  node:[
						{name: 'express', url: 'http://expressjs.com/'},
						{name: 'hapi', url: 'http://spumko.github.io/'},
						{name: 'compound', url: 'http://compoundjs.com/'},
						{name: 'derby', url: 'http://derbyjs.com/'}
					   ]
					}
					
					
     var html = template(context);
     $("#result").html(html);
 </script>

 </body>
</html>
