<!DOCTYPE html>
<html>
 <head>
  <title>Practicing handlebar js : step 04 : by bikal</title>
 </head>
 <body>

 <div id="result"> </div>


 <!-- Loading Libraries -->
  <script src="handlebars-v2.0.0.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
 <!-- Libraries -->

 <script id="just-a-dummy-template-name" type="text/x-handlebars-template">
     {{userName}} has got {{getScoreRank score}}
 </script>

 <script type="text/javascript">
     Handlebars.registerHelper ("getScoreRank", function (theScore) {
	   var userGrade = "C";
	   if (theScore >= 90) {
	       return "A" ;
	   }
	   else if (theScore >= 80 && theScore < 90) {
	       return "B" ;
	   }
	   else if (theScore >= 70 && theScore < 80) {
	       return "C" ;
	   }
	   else {
	       return "D" ;
	   }
	});
     var source = $("#just-a-dummy-template-name").html();
     var template = Handlebars.compile(source);
	 
     var context = {score: 85, userName:"Mike"};
	 
     var html = template(context);
     $("#result").html(html);
 </script>

 </body>
</html>
